/* Submenu */
  #menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none; /* Menyembunyikan submenu */
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  #menu li:hover > ul {
    display: block; /* Menampilkan submenu saat hover pada menu */
  }
  #menu ul li {
    position: relative;
  }
  #menu ul ul {
    left: 100%;
    top: 0;
  }
  #menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
    background: #fff;
  }
  #menu ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
  }